// Custom variables
$primary: #A4A091;
$dark: #000;
$light: #fff;
$secondary: #CFCFCF;
$h1-font-size: 4em;
$h2-font-size: 2.5em;
$h3-font-size: 2em;
$h4-font-size: 1.2em;

//import the functions & variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
    "dark-2": #1a1a1a,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// Import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';